/* Add this CSS in your CSS file or inside a <style> tag */

/* Base styles */
.container {
  padding: 10px;
  margin-top: 0; /* Remove any top margin */
}

.filterDiv {
  float: left;
  background-color: #8d98a133;
  color: #ffffff; 
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* kanji blocks */
.filterDiv .item-link {
  color: #000000; /* Ensure the links are black */
  text-decoration: none;
  /* font-family: "Otsutome"; */
}

.filterDiv:hover {
  color: #000000; /* Ensure the links are black */
  text-decoration: none;
  font-family: "Otsutome";
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none; 
  padding: 30px 70px;
  background-color: #DFD4BA;
  font-family: "Abys";
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  margin: 5px 0;
  width: calc(20% - 4px);

}

.btn:hover {
  background-color: #ddd;
}

/* tabs */
.btn.active { 
  background-color: #050505bd;
  color: white;
}

/* Media queries for different screen sizes */
@media (min-width: 600px) {
  .btn {
    width: auto;
    margin: 5px;
  }
  .filterDiv {
    width: calc(20% - 4px);
  }
}

@media (max-width: 600px) {
  .filterDiv {
    width: calc(50% - 4px);
  }
}

@media (max-width: 480px) {
  .filterDiv {
    width: calc(20% - 4px);
    line-height: 60px; /* Adjust line-height for smaller screens */
    font-size: xx-large;
  }
  .btn {
    padding: 10px 14px; /* Adjust padding for smaller screens */
    font-size: 18px; /* Adjust font size for smaller screens */
  }
}

/* Adjustments to display elements higher up */
body {
  margin: 0;
  padding: 0;
}

.mainBackground {
  padding-top: 0; /* Ensure no padding at the top */
  margin-top: 0; /* Ensure no margin at the top */
}

.header {
  padding-top: 0;
  margin-top: 0;
}

.headerContent {
  margin-top: 0;
}

.additionalSection {
  padding-top: 20px; /* Adjust as needed */
}
